<form
  [formGroup]="settingsFormGroup"
  (ngSubmit)="save.emit(true)"
>
  <ion-segment color="primary" formControlName="sort">
    <ion-segment-button value="hot"> Hot </ion-segment-button>
    <ion-segment-button value="new"> New </ion-segment-button>
  </ion-segment>

  <ion-segment color="primary" formControlName="perPage">
    <ion-segment-button [attr.value]="10"> 10 </ion-segment-button>
    <ion-segment-button [attr.value]="20"> 20 </ion-segment-button>
    <ion-segment-button [attr.value]="30"> 30 </ion-segment-button>
  </ion-segment>

  <ion-button type="submit" expand="full"> Save </ion-button>
</form>
